<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="../jquery-easyui-1.8.5/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../jquery-easyui-1.8.5/themes/icon.css">
    <script type="text/javascript" src="../jquery-easyui-1.8.5/jquery.min.js"></script>
    <script type="text/javascript" src="../jquery-easyui-1.8.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" th:inline="none">
        $(function (){
            $("#dg").datagrid({
                url:"/showAllEnquire",
                pagination:true,
                rownumbers:true,
                singleSelect:true,
                pageList:[2,3,4,5,6,7,8,9,10],
                columns:[[
                    {field:'id',title:'序号',width:'10%'},
                    {field:'enquireNum',title:'询价书编号',width:'20%'},
                    {field:'enquireName',title:'询价书标题',width:'20%'},
                    {field:'startDate',title:'询价提交时间',width:'15%'},
                    {field:'endDate',title:'询价截止时间',width:'15%'},
                    {field:'status',title:'询价书状态',width:'10%',formatter:function (value,row,index){
                            if (row.status=="C001-70"){
                                return "未发布";
                            }
                            if (row.status=="C001-80"){
                                return "已发布";
                            }
                                return "已揭示";
                        }},
                    {field:'stockType',title:'采购类型',width:'10%',formatter:function (value, row, index) {
                            if (row.stockType=="C000-1"){
                                return "公开求购";
                            }else {
                                return "定向询价";
                            }
                        }}
                ]]
            });
        });
        function searchEnquire(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                window.location.href="/searchEnquireDetail?enquireId="+row.id;
            }else {
                $.messager.alert('警告','请选择一行')
            }
        }
        function editEnquire() {
            var row = $('#dg').datagrid('getSelected');
            if (row){
                window.location.href="/toupdateEnquire?enquireId="+row.id;
            }else {
                $.messager.alert('警告','请选择一行')
            }
        }
        function delEnquire(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $.ajax({
                    url:"/delEnquireByEnquireId",
                    data:"enquireId="+row.id,
                    type:"post",
                    success:function (result) {
                        if (result=="success"){
                            $.messager.show({
                                title:'系统提示',
                                msg:'删除成功',
                                timeout:3000,
                                showType:'slide'
                            });
                            //刷新
                            $('#dg').datagrid('reload');
                        }
                    }
                });
            }else {
                $.messager.alert('警告','请选择一行')
            }
        }
    </script>
</HEAD>
<title>询价书列表</title>
<BODY>
<H2 style="text-align: center"><font  color=#0070C0 >询价书列表</font></H2>
<!-------------------------------------分割线------------------------------------------>
<table id="dg" toolbar="#toolbar">
</table>
<!--工具栏-->
<div id="toolbar">
    <a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="searchEnquire()">查看询价书明细</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editEnquire()">修改询价</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="delEnquire()">删除询价</a>
</div>
</body>
</html>


