<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<HEAD>
    <TITLE>选择物资</TITLE>
    <META http-equiv=Content-Language content=zh-cn>
    <META http-equiv=Content-Type content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="../jquery-easyui-1.8.5/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../jquery-easyui-1.8.5/themes/icon.css">
    <script type="text/javascript" src="../jquery-easyui-1.8.5/jquery.min.js"></script>
    <script type="text/javascript" src="../jquery-easyui-1.8.5/jquery.easyui.min.js"></script>

    <script type="text/javascript" th:inline="none">
        $(function(){
            $("#dg").datagrid({
                url:"/showMaterial",
                pagination:true,
                rownumbers:true,
                singleSelect:false,
                pageList:[2,3,4,5,6,7,8,9,10],
                columns:[[
                    {field:'ck',title:'选中', checkbox:true, width:'10%'},
                    {field:'id',title:'序号',width:'20%'},
                    {field:'materialNum',title:'产品编号',width:'30%'},
                    {field:'materialName',title:'产品名称',width:'40%'},

                ]]
            });
            $("#btn").click(function () {
                    var rows = $('#dg').datagrid('getChecked');
                    var id=[];
                    $.each(rows,function (index,item) {
                        id.push(item.id);
                    });
                    if(id==undefined){
                        return;
                    }
                    if (rows.length>0){
                        window.location.href="/toOrder_newform?ids="+id;
                    }
            });
        });
    </script>
</HEAD>
<BODY>
<CENTER>
<TABLE width="90%" align=center border=0>
  <TBODY>
      <TR>
        <TD align=middle>
            <FONT color=red>
                选择物资
            </FONT>====&gt;录入需求计划====&gt;需求计划确认</TD>
      </TR>
  </TBODY>
</TABLE>
</CENTER>
    <!--信息展示 -->
    <table id="dg">

    </table>
    <div align="center">
        请先选择物资，然后点击：
        <A href="#" id="btn">
            <FONT size=3><U>下一步</U></FONT>
        </A>
    </div>
</BODY>
</HTML>
