<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<HEAD><TITLE>合同申请一览表</TITLE>
	<META http-equiv=Content-Language content=zh-cn>
	<META http-equiv=Content-Type content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="../jquery-easyui-1.8.5/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../jquery-easyui-1.8.5/themes/icon.css">
	<script type="text/javascript" src="../jquery-easyui-1.8.5/jquery.min.js"></script>
	<script type="text/javascript" src="../jquery-easyui-1.8.5/jquery.easyui.min.js"></script>
	<script type="text/javascript" th:inline="none">
		$(function () {
			$("#dg").datagrid({
				url: "/showAllAfterShenpi",
				pagination: true,
				rownumbers: true,
				singleSelect: true,
				pageList: [2, 3, 4, 5, 6, 7, 8, 9, 10],
				columns: [[
					{field: 'id', title: '序号', width: '10%'},
					{field: 'contAppNum', title: '合同申请编号', width: '30%'},
					{field: 'allSumPrice', title: '总金额', width: '30%'},
					{field: 'status', title: '状态', width: '30%',formatter:function (value,row,index) {
							if (row.status=="C001-150"){
								return "合同未编制";
							}
							if (row.status=="C001-160"){
								return "合同未确定";
							}
							if(row.status=="C001-170"){
								return "合同确定";
							}
							if (row.status=="C001-180"){
								return "合同已归档";
							}
						}}
				]]
			});
		});
		function addCont() {
			var row = $('#dg').datagrid('getSelected');
			if (row){
				if (row.status=="C001-150"){
					window.location.href="/tobianzhihetong?contAppId="+row.id;
				}else {
					$.messager.alert('警告','已编制合同');
				}
			}else {
				$.messager.alert('警告','请选择一行');
			}
		}
	</script>
</HEAD>
<BODY>
<CENTER>
	<H2><FONT color=#0070c0>合同一览表</FONT></H2>
	<!--分割线-->
	<table id="dg" toolbar="#toolbar"></table>
	<!--工具栏-->
	<div id="toolbar">
		<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addCont()">编辑合同</a>
	</div>
	<!--分割线-->
</CENTER>
</BODY>
</HTML>
